<div class="">
  <h4>Cambiar Nombre</h4>

  <div class="body">
    <form class="" action="/cuenta/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
            <input name="idPlanDeCuenta" value="<%= element.idPlanDeCuenta %>" hidden="true" required>

        <div class="">
          <label for="">nombre</label>
          <input type="text" name="nombre" value="<%= element.nombre %>" required="false">
        </div>
      <button  class="btn" type="submit">actualizar cuenta</button>
    </form>
    <br />
  </div>
</div>