<h1>Show usuarioplan</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>

<br>
<a href="/usuarioplan/edit/<%= element.id %>">Edit</a>
<a href="/usuarioplan/create">New</a>
<a href="/usuarioplan">Back</a>
