<div class="">
	<h1>New Empresa</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/Empresa/create" method="post">
				<div class="">
					<label for="">nombre</label>
					<input type="text" name="nombre" value="" required="false">
				</div>
				<div class="">
					<label for="">nit</label>
					<input type="number" name="nit" value="" required="false">
				</div>
			<button type="submit">Save Empresa</button>
		</form>
		<br />
		<a href="/Empresa">Index</a>
	</div>
</div>
