<h1>Mostrando Empresa</h1>

	<p>
		<strong>nombre:</strong>
		<%= element.nombre %>
	</p>
	<p>
		<strong>nit:</strong>
		<%= element.nit %>
	</p>

<br>
<a class="btn blue" href="/Empresa/edit/<%= element.id %>">EDITAR</a>
<a class="btn green" href="/Empresa/create">NUEVO</a>
<a class="btn red" href="/Empresa/index">ATRAS</a>
