<div class="">
	<h1>New TipoCuenta</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/TipoCuenta/create" method="post">
				<div class="">
					<label for="">nombre</label>
					<input type="text" name="nombre" value="" required="false">
				</div>
				<div class="">
					<label for="">numero</label>
					<input type="text" name="numero" value="" required="false">
				</div>
			<button type="submit">Save TipoCuenta</button>
		</form>
		<br />
		<a href="/TipoCuenta">Index</a>
	</div>
</div>
