<h1>Show TipoCuenta</h1>

	<p>
		<strong>nombre:</strong>
		<%= element.nombre %>
	</p>
	<p>
		<strong>numero:</strong>
		<%= element.numero %>
	</p>

<br>
<a href="/TipoCuenta/edit/<%= element.id %>">Edit</a>
<a href="/TipoCuenta/create">New</a>
<a href="/TipoCuenta">Back</a>
