<div class="">
	<h1>New PlanDeCuenta</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/PlanDeCuenta/create" method="post">
				<div class="">
					<label for="">nombre</label>
					<input type="text" name="nombre" value="" required="false">
				</div>
				<div class="">
					<label for="">idTipoCuenta</label>
					<input type="number" name="idTipoCuenta" value="" required="false">
				</div>
			<button type="submit">Save PlanDeCuenta</button>
		</form>
		<br />
		<a href="/PlanDeCuenta">Index</a>
	</div>
</div>
