<div class="">
  <h4>Cambiando PlanDeCuenta</h4>

  <div class="body">
    <form class="" action="/PlanDeCuenta/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">nombre</label>
          <input type="text" name="nombre" value="<%= element.nombre %>" required="false">
        </div>
      <button type="submit">Actualizar PlanDeCuenta</button>
    </form>
    <br />
    <a href="/PlanDeCuenta/index">Volver</a>
  </div>
</div>