<div class="">
	<h1>New LibroDiario</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/LibroDiario/create" method="post">
				<div class="">
					<label for="">nombre</label>
					<input type="text" name="nombre" value="" required="false">
				</div>
				<div class="">
					<label for="">razonSocial</label>
					<input type="text" name="razonSocial" value="" required="false">
				</div>
			<button type="submit">Save LibroDiario</button>
		</form>
		<br />
		<a href="/LibroDiario">Index</a>
	</div>
</div>
