<h1>Show LibroDiario</h1>

	<p>
		<strong>nombre:</strong>
		<%= element.nombre %>
	</p>
	<p>
		<strong>razonSocial:</strong>
		<%= element.razonSocial %>
	</p>

<br>
<a href="/LibroDiario/edit/<%= element.id %>">Edit</a>
<a href="/LibroDiario/create">New</a>
<a href="/LibroDiario">Back</a>
