<div class="">
	<h1>New Asiento</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/Asiento/create" method="post">
				<div class="">
					<label for="">fecha</label>
					<input type="date" name="fecha" value="" required="false">
				</div>
				<div class="">
					<label for="">detalle</label>
					<input type="text" name="detalle" value="" required="false">
				</div>
				<div class="">
					<label for="">ref</label>
					<input type="text" name="ref" value="" required="false">
				</div>
				<div class="">
					<label for="">debe</label>
					<input type="number" name="debe" value="" required="false">
				</div>
				<div class="">
					<label for="">haber</label>
					<input type="number" name="haber" value="" required="false">
				</div>
				<div class="">
					<label for=""></label>
					<input type="" name="" value="" required="false">
				</div>
			<button type="submit">Save Asiento</button>
		</form>
		<br />
		<a href="/Asiento">Index</a>
	</div>
</div>
